* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    color: #fff;
}
html,body
{
    height: 100%;
    width: 100%;
}
#cursor{
    height: 25px;
    width: 25px;
    background-color: greenyellow;
    border-radius: 50%;
}
#nav{
    height: 135px ;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 0 120px;
    position: fixed;
    z-index: 999;
}
#nav img{
    height: 80px;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}
video {
    height: 100%;
    width: 100%;
    object-fit: cover;
     /* z-index: -1; */
    position: fixed;
}
#main{
     position: relative; 
     background-color: rgba(0,0,0,0.39)
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    /* background-color: rgb(255, 255, 255); */
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
#page1 h1{
    font-size: 110px;
    font-weight: 900;
    /* position: relative; */
}
#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: #000;
    /* top: -2px;
    left: -2px; */
    -webkit-text-stroke: 1.5px #e9ebe2;
     z-index: -1;
}
#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 p{
    font-size:20px;
    font-weight:500;
    width: 40%;
}
#page2{
    font-size: 100px;

    margin: 100px;
    padding: 100px;
    justify-content: center;
    display:flex;
    flex-direction: column;
    text-align: center;
    text-align: center;
}


